

@keyframes move {
    100% {
        opacity: 1;
        transform: translate(40%);
    }
}

@keyframes opacity1 {
    100% {
        opacity: 1;
    }
}



.handycam-photo {
    opacity: .5;
}

@media only screen and (min-width: 960px) {
    .handycam-photo {
        position: absolute;
        right: 300px;
        width: 20vw; 
        top: 120px;
        animation: move 1s forwards;
    }
}

@media only screen and (max-width: 960px) {
    .handycam-photo {
        position: relative;
        left: 50%;
        margin-left: -20vw;
        width: 40vw; 
        top: -450px;
        animation: opacity1 1s forwards;
    }
}


.Particles-Header-Background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}