/* body {
    font-family: 'Josefin Sans', sans-serif;
} */
.navbar {
    font-size: 18px;
    padding-bottom: 10px;
    transition: .5s;
    width: 100vw;
    z-index: 1;
}

.main-nav {
    list-style-type: none;
    padding-left: 0;
}

.nav-links {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
.navbar {
    z-index: 1;
    padding-bottom: 0;
    background-color: #05386B;
    position: absolute;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

.active-toggle {
    display: none;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

}
@media screen and (min-width: 768px) {
    .navbar {
        position: fixed;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .navbar-background {
        background: #05386B;
    }

    .main-nav {
        display: flex;
        line-height: 10px;
        margin-left: 30px;
        flex-direction: row;
        justify-content: flex-start;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}